body {
  font-family: "IBM Plex Mono", monospace;
  background-color: #000;
  width: 100%;
}

.container {
  width: 100%;
  min-width: 1400px;
}

.about-me-container {
  position: relative;
  height: 765px;
  background-image: url(./resources/programmist.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  margin-right: 124px;
  margin-top: 33px;
  float: right;
}

.nav__link {
  margin-right: 50px;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: -0.54px;
  text-decoration: none;
  color: #ffffff;
}

.nav__link:hover {
  color: #1bff07;
}

.nav__link:nth-last-child(1) {
  margin-right: 0;
}

.lastName {
  display: inline-block;
  padding-left: 15px;
  width: 160px;
  margin-top: 27px;
  margin-left: 132px;
  font-size: 42.414px;
  line-height: 55.14px;
  font-weight: 700;
  letter-spacing: -4.666px;
  color: #1bff07;
  border-radius: 100px;
  background: #000;
}

.about-me_desctiption {
  position: absolute;
  top: 334px;
  left: 125px;
  width: 430px;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.6px;
  color: #fff;
}

.about-me_greeting {
  position: absolute;
  bottom: 94px;
  left: 119px;
  width: 919px;
  font-size: 80px;
  line-height: 70px;
  letter-spacing: -2.4px;
  color: #1bff07;
}

h3 {
  width: 1048px;
  font-size: 55px;
  line-height: 71.5px;
  letter-spacing: -1.65px;
  color: #fff;
}

.fresh-projects {
  margin: 0 auto;
  width: 1400px;
  border: 1px solid red;
}
