@import url(./styles/header.css);
@import url(./styles/projects.css);
@import url(./styles/competencies.css);
@import url(./styles/spectrum-tasks.css);

body {
  font-family: "IBM Plex Mono", monospace;
  width: 100%;
  background: #000;
}
