.my-skills {
  margin-top: 150px;
  width: 1048px;
  font-size: 55px;
  line-height: 71.5px;
  letter-spacing: -1.65px;
  color: #ffffff;
}

.adaptive {
  margin-bottom: 15px;
  width: 651px;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: -1.05px;
  color: #1bff07;
}

.library,
.java-script,
.html {
  margin-bottom: 15px;
  width: 1048px;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: -1.05px;
  color: #1bff07;
}

.html::before {
  content: "";
  margin-top: 48px;
  margin-bottom: 12px;
  width: 45px;
  height: 44px;
  display: block;
  background-image: url(../resources/html-icon.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.java-script::before {
  content: "";
  margin-top: 48px;
  margin-bottom: 12px;
  width: 45px;
  height: 44px;
  display: block;
  background-image: url(../resources/js-icon.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.library::before {
  content: "";
  margin-top: 48px;
  margin-bottom: 12px;
  width: 45px;
  height: 44px;
  display: block;
  background-image: url(../resources/phone-icon.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.adaptive::before {
  content: "";
  margin-top: 48px;
  margin-bottom: 12px;
  width: 45px;
  height: 44px;
  display: block;
  background-image: url(../resources/molecule-icon.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.library_description,
.java-script_description,
.html_description {
  margin-bottom: 60px;
  width: 778px;
  height: 145px;
  font-size: 22px;
  line-height: 28.6px;
  letter-spacing: -0.66px;
  color: #ffffff;
}

.adaptive_description {
  margin-bottom: 150px;
  width: 778px;
  height: 145px;
  font-size: 22px;
  line-height: 28.6px;
  letter-spacing: -0.66px;
  color: #ffffff;
}
