.competencie {
  margin-bottom: 60px;
}

.competencie:nth-last-child(1) {
  margin-bottom: 0;
}

.competencies {
  margin-bottom: 150px;
}

.competencies__title {
  margin-bottom: 48px;
  margin-left: 123px;
  width: 1048px;
  height: 72px;
  font-size: 55px;
  line-height: 71.5px;
  letter-spacing: -1.65px;
  color: #fff;
}

.competencie__subtitle-one,
.competencie__subtitle-two,
.competencie__subtitle-three {
  margin-bottom: 15px;
  margin-left: 123px;
  width: 1048px;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: -1.05px;
  color: #1bff07;
}

.competencie__subtitle-four {
  margin-bottom: 15px;
  margin-left: 123px;
  width: 651px;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: -1.05px;
  color: #1bff07;
}

.competencie__subtitle-one::before {
  margin-bottom: 12px;
  content: "";
  display: block;
  width: 45px;
  height: 44px;
  background-image: url(../resources/html\ icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.competencie__subtitle-two::before {
  margin-bottom: 12px;
  content: "";
  display: block;
  width: 45px;
  height: 44px;
  background-image: url(../resources/JS-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.competencie__subtitle-three::before {
  margin-bottom: 12px;
  content: "";
  display: block;
  width: 45px;
  height: 44px;
  background-image: url(../resources/phone-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.competencie__subtitle-four::before {
  margin-bottom: 12px;
  content: "";
  display: block;
  width: 45px;
  height: 44px;
  background-image: url(../resources/universe-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.competencie__description {
  margin-left: 123px;
  width: 778px;
  height: 145px;
  font-size: 22px;
  line-height: 28.6px;
  letter-spacing: -0.66px;
  color: #fff;
}
