.about_me {
  margin-bottom: 150px;
  position: relative;
  height: 765px;
  background-image: url(../resources/Rectangle\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.nav_section {
  margin: 0 auto;
  width: 1153px;
}

.nav_section__header {
  display: inline-block;
  margin-top: 27px;
  text-align: center;
  width: 166px;
  font-size: 42.414px;
  line-height: 55.14px;
  font-weight: 700;
  letter-spacing: -4.666px;
  text-transform: uppercase;
  color: #1bff07;
  background-color: #000;
  border-radius: 100px;
}

.nav {
  display: flex;
  gap: 50px;
  vertical-align: top;
  float: right;
  margin-top: 33px;
}

.nav_link {
  margin-right: 50px;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: -0.54px;
  color: #fff;
  text-decoration: none;
}

.nav_link:nth-last-child(1) {
  margin-right: 0;
}

.nav_link:hover {
  cursor: pointer;
  color: #1bff07;
}

.about_me__description {
  position: absolute;
  top: 334px;
  left: 125px;
  font-size: 20px;
  line-height: 26px;
  width: 430px;
  height: 103px;
  letter-spacing: -0.6px;
  color: #fff;
}

.about_me__hello {
  position: absolute;
  bottom: 94px;
  left: 119px;
  font-size: 80px;
  line-height: 70px;
  width: 919px;
  height: 205px;
  letter-spacing: -2.4px;
  color: #1bff07;
}
